@import url('./header.css');

body {
    font-family: Inter, sans-serif;
}

.button {
    cursor: pointer;
}

main {
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.create-window {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-content: center;
    align-items: start;
    align-self: center;
    gap: calc(24 * 100vw / 1440);
    border: 0px;
    width: calc(1000 * 100vw / 1440);
    margin-top: calc(120 * 100vw / 1440);
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.create-window__forms {
    display: flex;
    flex-direction: column;
    gap: calc(24 * 100vw / 1440);
    width: inherit;
}

.create-window__field {
    display: flex;
    flex-direction: column;
    gap: calc(4 * 100vw / 1440);
}

.create-window__header {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: calc(32 * 100vw / 1440);
    line-height: 125%;
    letter-spacing: 0px;
}

.create-window__forms-description {
    font-family: Inter;
    font-weight: 400;
    font-style: Medium;
    font-size: calc(14 * 100vw / 1440);
    line-height: 160%;
    letter-spacing: 0px;
    color: #707070;
}

.create-window__form {
    width: inherit;
    padding: calc(16 * 100vw / 1440);
    gap: calc(10 * 100vw / 1440);
    border-radius: calc(12 * 100vw / 1440);
    padding: calc(16 * 100vw / 1440);
    border-width: calc(1 * 100vw / 1440);
    background-color: #fff;
    border: 1px solid #E6E6E6;
}

textarea {
    resize: none;
    height: calc(154 * 100vw / 1440);
}

.thumbnail-input {
    background: #C9C9C9;
    font-family: Inter;
    font-size: calc(14 * 100vw / 1440);
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #3D3D3D;
    column-gap: calc(16 * 100vw / 1440);
    height: calc(42 * 100vw / 1440);
    padding: 0;
}

.thumbnail-input::file-selector-button {
    padding: calc(10.5 * 100vw / 1440) calc(20 * 100vw / 1440);
    border-top-left-radius: calc(8 * 100vw / 1440);
    border-bottom-left-radius: calc(8 * 100vw / 1440);
    background-color: #0077B6;
    border: none;
    font-family: Inter;
    font-size: calc(14 * 100vw / 1440);
    line-height: 150%;
    letter-spacing: 0%;
    color: #FFFFFF;
    cursor: pointer;
    height: calc(42 * 100vw / 1440);
    margin-right: calc(16 * 100vw / 1440);
}