.body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 85px;
}

.card {
    background-color: #E1EDE6;
    padding: 20px;
    width: 250px;
    cursor: default;
}

.card__painting {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}

.box__painter {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0%;
    color: #86928B;
}

.box__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #2C2D35;
}

.box__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2C2D35;
}

.box__price {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #598D66;
    margin-top: 30px;
    margin-bottom: 10px;
}

.box__btn {
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid #598D66;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #598D66;
    background-color: inherit;
    margin-bottom: 10px;
    cursor: pointer;
}

.france {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.spain {
    position: relative;
    top: 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
