.cls1 {
    box-shadow: 9px 9px 5px 0px rgba(0, 0, 0, 0.7);
    background-color: limegreen;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}
.cls2 {
    box-shadow: 15px 15px 12px 3px rgba(0, 0, 0, 0.75);
    background-color: maroon;
    width: 50px;
    margin-bottom: 50px;
    height: 50px;
}
.cls3 {
    box-shadow: 19px 20px 30px 0px rgba(0, 0, 0, 0.9);
    background-color: mediumslateblue;
    width: 190px;
    margin-bottom: 50px;
    height: 200px;
}
.shdw1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
.shdw2 {
    text-shadow: 8px 4px 5px rgba(0, 0, 0, 0.4);
}
.linear {
    background: linear-gradient(26deg, blue, lightblue);
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}
.radial {
    padding-top: 20px;
    background: radial-gradient(circle 110px at center, red, maroon);
    width: 150px;
    height: 150px;
}