body {
    /* justify-content: center; */
    background-color: #F4F6F5;
    margin: 0px;
    padding: 0;
}





@media (min-width: 0px) {
    .welcome h1 {
        margin-block: 0em;
        cursor: default;
    }


    .headr {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #598D66;
    }

    .logo {
        height: 68px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        gap: 8px;
        height: 35px;
        align-items: center;
        padding: 17px 0px;
        margin-left:-17px;
        cursor: pointer;
    }

    .menu {
        background-color: #E1EDE6;
        display: flex;
        justify-content: space-between;   
        padding: 16px 15px;
    }

    .menubtn {display:none;}
    .menulist {width:0px;}

    .smallmenu {
        display: flex;
        opacity: 1;
        width: 275px;
        height: 30px;
        justify-content: space-between;
    }

    .sandw {
        width: initial;
        height: initial;
        align-self: center;
        cursor: pointer;
    }

    .cart {
        display: initial;
        height: 22px;
        width: 22px;
        align-self: center;
        padding: 4px;
        cursor: pointer;
    }

    .line {display: none;}

    .birb {display:none;}

    .welcome {
        justify-self: center;
        padding-top: 60px;
        padding-left: 15px;
    }

    .welcome h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #2C2D35;
        cursor: default;
    }

    mark {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #598D66;
        text-decoration: none;
        background-color: inherit;
        cursor: default;
    }

    .wcdesc {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #86928B;
        cursor: default;
    }

    .products {
        width: 154px;
        height: 50px;
        margin-top: 20px;
        gap: 6px;
        border: 1px solid #598D66;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #598D66;
        justify-items: center;
        cursor: pointer;
        background-color: inherit;
    }


    .reproduction {
        margin-top: 60px;
        margin-bottom: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        color: #2C2D35;
        cursor: default;
    }

    .country {
        justify-self: start;
        margin-left: 15px;
    }

    .btnchoice {
        display: flex;
        flex-flow: row;
        gap: 20px;
        margin-bottom: 20px;
    }

    .activebtn {
        border-radius: 20px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        background: #376B44;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0%;
        color: #F4F6F5;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .defaultbtn {
        border-radius: 20px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0%;
        color: #2C2D35;
        background-color: #D4E8D9;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .container {
        justify-self: center;
    }

    .france {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .card {
        background-color: #E1EDE6;
        padding: 20px;
        width: 250px;
        cursor: default;
    }

    .painting {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .painter {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0%;
        color: #86928B;
    }

    .title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #2C2D35;
    }

    .description {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #2C2D35;
    }

    .price {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #598D66;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .btn {
        width: 250px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border: 1px solid #598D66;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #598D66;
        background-color: inherit;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .footer {
        margin-top: 94px;
        background-color: #E1EDE6;
        padding-left: 15px;
        padding-top: 20px;
        font-family: 'Raleway', sans-serif;
        cursor: default;

        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "logo logo"
        "masterskaya linkList"
        "linkList2 linkList3"
        "details details";
    }

    .footerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        gap: 8px;
        background-color: #E1EDE6;
        justify-self: start;
        margin-bottom: 20px;
        grid-area: logo;
        cursor: pointer;
    }

    .footr {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #598D66;
        margin: 0px;
    }

    .phoneNumber {
        font-weight: 500;
        font-size: 16px;
        color: #2C2D35;
        margin-bottom: 8px;
    }

    .masterskaya {
        font-weight: 500;
        font-size: 16px;
        color: #86928B;
        grid-area: masterskaya;
    }

    .linkTitle {
        font-weight: 500;
        font-size: 20px;
        color: #2C2D35;
    }

    .links {
        gap: 8px;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .greylink {
        padding-top: 6px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #86928B;
        cursor: pointer;
    }

    .linkTitle2 {
        font-size: 20px;
        font-weight: 500;
        color: #2C2D35;
    }
    .linkTitle3 {
        font-size: 20px;
        font-weight: 500;
        color: #2C2D35;
    }

    .footerLine {
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 20px;
        width: calc(100vw - 30px);
    }

    .socials img {
        cursor: pointer;
    }

    .linkList {
        margin-bottom: 20px;
        grid-area: linkList;
    }
    .linkList2 {
        margin-bottom: 20px;
        grid-area: linkList2;
    }
    .linkList3 {
        margin-bottom: 20px;
        grid-area: linkList3;
    }

    .details {
        justify-self: center;
        grid-area: details;
        padding-right: 15px;
    }

    .socials {
        display: flex;
        width: 132px;
        gap: 30px;
        justify-self: center;
        padding-bottom: 10px;
    }

    .TM {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        color: #86928B;
        justify-self: center;
    }
}





@media (min-width: 510px) {
    .header {
        background-color: #E1EDE6;
        height: 123px;
        justify-items: center;
    }

    .line {
        justify-self: center;
        display: block;
        width: calc(100vw - 123px);
        margin: 0px;
        margin-block: 0px;
        height: 0px;
        border-width: 1px;
        border: 1px solid #C3D1C6;
    }

    .headr {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #598D66;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        gap: 8px;
        background-color: #E1EDE6;
    }

    .sandw {
        width: 0;
        height: 0;
    }
    .cart {
        display: none;
    }

    .menulist {
        list-style: none;
        font-family: 'Raleway', sans-serif;
        display: flex;
        width: calc(100vw - 66px);
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 0;
        margin-block: 0;
        padding-left: 33px;
        padding-right: 33px;
        padding-top: 1.5px;
    }

    .menubtn {
        display: initial;
        cursor: pointer;
    }

    .birb {
        display: block;
        height: initial;
        width: initial;
    }

    .welcome {
        font-family: 'Raleway', sans-serif;
        display: flex;
        padding: 50px 33px;
        flex-direction: row;
    }

    .wctxt {
        margin-left: 30px;
    }

    .welcome h1 {
        font-weight: 500;
        margin-block-start: 0px;
        margin-bottom: 5px;
    }

    .welcome mark {
        background-color: inherit;
        color: #598D66;
    }

    .wcdesc {
        margin-top: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #86928B;
    }

    .country {
        padding-right: 102px;
        justify-self: center;
        margin-left: 0;
    }

    .products {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 178px;
        height: 50px;
        border-width: 1px;
        justify-content: center;
        margin-top: 11px;
        border: 1.3px solid #598D66;
        color: #598D66;
    }

    .btnchoice {
        gap: 32px;
    }

    .france {
        grid-template-columns: 1fr 1fr;
    }

    .painting {
        width: 200px;
        height: 250px;
    }

    .card {
        width: 200px;
    }

    .btn {
        width: 200px;
        height: 50px;
    }

    .linkList2 {
        justify-self: center;
    }
    .linkList3 {
        justify-self: end;
        padding-right: 33px;
    }

    .details {
        padding-right: 33px;
    }

    .footerLine {
        width: calc(100vw - 66px);
    }

    .footer {
        padding-left: 33px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo contacts"
        "linkList linkList2 linkList3"
        "details details details";
    }

}





@media (min-width: 690px) {
    .header {
        background-color: #E1EDE6;
        height: 100px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        padding-right: 60px;
    }

    .logo {
        display: flex;
        align-items: initial;
        justify-self: initial;
        width: initial;
        justify-self: start;
        height: 35px;
        gap: 8px;
        justify-content: start;
        padding-left: 39px;
        padding-bottom: 33px;
        padding-top: 33px;
        margin: 0px;
    }

    .headr {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #598D66;
        margin: 0;
        align-self: center;
        white-space: nowrap;
    }

    .menu {
        font-family: 'Raleway', sans-serif;
        display: flex;
        width: 445px;
        height: 24px;
        gap: 60px;
    }

    .menulist {
        list-style: none;
        display: flex;
        flex-flow: row;
        gap: 60px;
    }

    .menubtn {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        white-space: nowrap;
    }

    .menubtn img {
        height: 22px;
        width: 22px;
    }

    .welcome {
        padding-top: 10px;
    }

    .birb {
        width: 330px;
        height: 380px;
    }

    .wctxt h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 35px;
    }

    .wctxt mark {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 40px;
    }

    .wcdesc {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        margin-top: 20px;
    }

    .products {
        width: 210px;
        height: 60px;
        gap: 6px;
        border-width: 1px;
        margin-top: 40px;
        border: 1px solid #598D66;
        font-family: Raleway;
        font-weight: 500;
        font-size: 20px;
    }

    .line {
        display: none;
    }
    .smallmenu  {opacity:0;}
    .sandw {display: none;}
    .cart {display: none;}

    .country {
        display: flex;
        margin-top: 60px;
        margin-bottom: 30px;
        width: 690px;
        justify-content: space-between;
        margin-right: 0px;
        padding-right: 0;
    }

    .btnchoice {
        margin-bottom: 0px;
    }

    .reproduction {
        width: min-content;
        margin: 0px;
        align-self: center;
    }

    .container {
        width: 690px;
    }

    .france {
        width: 690px;
    }

    .card {
        padding: 20px;
        padding-bottom: 30px;
        width: 290px;
    }

    .box {
        width: 290px;
    }

    .painting {
        width: 290px;
        height: 422px;
        align-items: start;
        margin-bottom: 20px;
    }
    
    .painter {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .title {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 8px;
    }

    .description {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    .price {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .btn {
        width: 290px;
        height: 65px;
        margin-bottom: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    .linkList {
        justify-self: start;
    }
    .linkList2 {
        justify-self: start;
    }
    .linkList3 {
        justify-self: start;
    }
    .phoneNumber {
        font-size: 20px;
    }
    
    .footer {
        padding-left: 39px;
        padding-right: 39px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo logo contacts"
        "linkList linkList2 linkList3 details";
    }

    .footerLine {
        display: none;
    }

    .footerLogo {
        align-self: start;
    }

    .contacts {
        margin-bottom: 30px;
    }
}





@media (min-width: 1440px) {
    .header {
        display: flex;
        background-color: #E1EDE6;
        height: 100px;
        padding: 0;
        padding-right: 165px;
        justify-content: space-between;
        align-items: center;
    }

    .sandw {display: none;}
    .line {width:0px;}

    .logo {
        height: 35px;
        padding: 0px;
        margin-left: 165px;
        gap: 8px;
    }

    .header img {
        width: 35px;
        height: 35px;
    }

    .headr {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #598D66;
        margin: 0;
        white-space: nowrap;
    }

    .menu {
        font-family: 'Raleway', sans-serif;
        width: 470px;
        height: 24px;
        padding-left: 0px;
    }

    .menulist {
        list-style: none;
        display: flex;
        flex-flow: horizontal;
        gap: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .menubtn {
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        white-space: nowrap;
    }

    .menubtn img {
        height: 22px;
        width: 22px;
    }

    .birb {
        width: 540px;
        height: 621px;
    }

    .wctxt {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 60px;
        line-height: 110%;
        align-self: center;
    }

    .wcdesc {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }

    .products {
        width: 225px;
        height: 65px;
        gap: 6px;
        align-items: center;
        align-self: center;
        background-color: inherit;
    }


    .welcome {
        width: 1110px;
        padding: 0;
        padding-top: 20px;
        display: flex;
        justify-items: center;
    }

    .container {
        display: flex;
        width: 1110px;
        justify-content: center;
        background-color: #F4F6F5;
    }

    .country {
        width: 1110px;
        padding-right: 0;
    }

    .france {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 1110px;
    }

    .reproduction {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 110%;
    }

    .spain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .card {
        width: 310px;
        background-color: #E1EDE6;
        font-family: "Raleway", sans-serif;
    }

    .painting {
        width: 310px;
        height: 422px;
    }

    .painter {
        font-weight: 500;
        font-size: 18px;
        color: #86928B;
    }

    .title {
        color: #2C2D35;
        font-weight:500;
        font-size: 30px;

    }

    .description {
        color: #2C2D35;
        font-size:larger;
        font-weight: 500;
        font-size: 18;
    }

    .price {
        font-size: 24;
        font-weight: 400;
        color:#598D66;
    }

    .btn {
        font-family: "Raleway", sans-serif;
        width: 310px;
        height: 65px;
        gap: 6px;
        border-width: 1px;
        padding-top: 20px;
        padding-right: 60px;
        padding-bottom: 20px;
        padding-left: 60px;
        border: 1px solid #7bad88;
        cursor: pointer;
        background-color: #E1EDE6;
        color: #598D66;
        font-size: 20px;
        font-weight: 400;
    }

    .line {
        display: unset;
    }
    .smallmenu  {opacity:0;}
    
    .footer {
        padding-left: 39px;
        padding-right: 39px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo linkList linkList2 linkList3 details"
        "contacts linkList linkList2 linkList3 details";

        padding-left: 165px;
        padding-right: 165px;
    }

    .footerLogo {
        margin-bottom: 35px;
    }

    .linkList {
        justify-self: end;
    }
    .linkList2 {
        justify-self: center;
    }
    .linkList3 {
        justify-self: self-start;
    }
    .details {
        padding-right: 0;
    }
}
